%header
  %nav
    %ul
      %li
        %a{:href => '#'} Home
      %li
        %a{:href => '#'} Community
      %li
        %a{:href => '#'} Support
      %li
        %a{:href => '#'} Acknowledgements
  - if @current_user_email.nil?
    %a#signin
      %img{:src => "/assets/persona_sign_in_blue.png", :alt => "Sign In"}
  - else
    %a#account
      %img{:src => profile_image_url(@current_user_email)}
    %a#signout
      %img{:src => "/assets/logout.png", :alt => "Sign Out"}
#notice
  Please enable javascript to utilize this site to its fullest potential.
#banner
  %h1 RagPicker
  %h2
    A refreshingly simple approach towards Web Clipping and Annotation.
    %br
    Free and will always be.
