%header
  %nav
    %ul
      %li
        %a{:href => '#'} Home
      %li
        %a{:href => '#'} Community
      %li
        %a{:href => '#'} Support
      %li
        %a{:href => '#'} Acknowledgements
  %a#signin
    %img{:src => "/assets/persona_sign_in_blue.png", :alt => "Sign In"}
#notice
  Please enable javascript to utilize this site to its fullest potential.
#banner
  %h1 RagPicker
  %h2
    A refreshingly simple approach towards Web Clipping and Annotation.
    %br
    Free and will always be.
